.calculator{
    border: 2px solid blue;
    height: 400px;
    width: 350px;
    margin: 0 auto;
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
   
    &__item{
    
        border: 1px solid blue;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 25px;
        cursor: pointer;

        &:hover:not(:first-child){
            border: 2px solid darkblue;
            outline:none;
        }
    }
    &__input{

        grid-column-start: 1;
        grid-column-end: 6;

       & input{
        text-align: end;
        border: 2px solid black;
       } 
        
    }
    &__result{
        grid-row-start: 4;
        grid-row-end: 6;
        grid-column-start: 5;
    }
    &__cansel{
        color: white;
        background-color: red;
    }
    &__operation{
        background-color: gray;
    }
    &__otherOperation{
        background-color: lightsalmon;
    }
    &__result{
        background-color: lightblue;
    }
}