.calculator {
  border: 2px solid blue;
  height: 400px;
  width: 350px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  padding: 5px;
  gap: 5px;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: (1fr)[5];
      grid-template-rows: repeat(5, 1fr);
}

.calculator__item {
  border: 1px solid blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  cursor: pointer;
}

.calculator__item:hover:not(:first-child) {
  border: 2px solid darkblue;
  outline: none;
}

.calculator__input {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 6;
}

.calculator__input input {
  text-align: end;
  border: 2px solid black;
}

.calculator__result {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  -ms-grid-column: 5;
      grid-column-start: 5;
}

.calculator__cansel {
  color: white;
  background-color: red;
}

.calculator__operation {
  background-color: gray;
}

.calculator__otherOperation {
  background-color: lightsalmon;
}

.calculator__result {
  background-color: lightblue;
}
/*# sourceMappingURL=style.css.map */